* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

/* TOP SECTION */
.ts {
    background: #1F2937;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 80%;
    max-width: 1250px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

header li {
    margin-left: 20px;
    float: left;
}

header ul {
    list-style: none;
}

header a {
    color: #E5E7EB;
    text-decoration: none;
    text-align: right;
    font-size: 18px;
}

.ts div {
    margin: 40px 150px;
    max-width: 1250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ts .left,
.ts .right {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.ts .left {
    max-width: 50%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ts .left h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.ts .left p {
    color: #E5E7EB;
    margin-bottom: 10px;
    font-size: 18px;
}

.ts .left button {
    background: #3882f6;
    color: #F9FAF8;
    padding: 6px 25px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}

.ts .right {
    min-width: 6vm;
}

.ts .right p {
    background: #6f737e;
    color: white;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

/* ABOVE CONTENT*/
.ac {
    background: white;
    flex: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxes {
    width: 80%;
    max-width: 1250px;
    margin: 0 200px 75px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10%;
}

.box {
    background: white;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ac .box p {
    color: #6f737e;
    font-size: 16px;
    font-weight: initial;
}

.image {
    background: white;
    border: 3.5px solid #3882f6;
    border-radius: 15px;
    height: 150px;
    width: 125px;
}

.ac p {
    color: #1F2937;
    height: 100px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QUOTE */
.quote {
    background: #E5E7EB;
    padding: 100px 250px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote p {
    color: #1F2937;
    max-width: 1250px;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.quote .quote-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
}

.quote #thor {
    align-self: flex-end;
    font-size: 18px;
    margin-right: 60px;
    margin-top: 20px;
    font-weight: bolder;
}

/* BELOW CONTENT*/
.bc {
    background: white;
    padding: 75px 125px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc .bc-container {
    background: #3882f6;
    color: #F9FAF8;
    width: 85%;
    max-width: 1250px;
    padding: 25px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bc-left {
    margin-right: 50px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: bolder;
}

.bc-left #exclude {
    font-weight: initial;
}

.bc-right {
    padding: 0px 50px;
}

.bc-right button {
    background-color: #3882f6;
    color: white;
    width: max-content;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 16px;
}

/* FOOTER */
footer {
    background: #1F2937;
    color: #F9FAF8;
    padding: 30px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}