* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* TOP SECTION */
.top-section {
    background: #1F2937;
    flex: auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
}

header p {
    font-weight: 800;
    color: #F9FAF8;
    font-size: 24px;
}

header li {
    float: left;
    margin-left: 20px;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    text-align: right;
    font-size: 18px;
    color: #E5E7EB
}

.top-section div {
    margin-left: 150px;
    margin-right: 150px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.top-section .left,
.top-section .right {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.top-section .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 40px;
}

.top-section .left h1 {
    font-size: 48px;
    color: #F9FAF8
}

.top-section .left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.top-section .left button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    padding: 6px 25px;
    border-radius: 8px;
    border-style: none;
}

.top-section .right {
    width: 50%;
}

.top-section .right p {
    background: #6f737e;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ABOVE CONTENT*/
.above-content {
    background: white;
    flex: auto;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 75px;
}

.box {
    height: 200px;
    width: 150px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.above-content .box p {
    font-size: 16px;
    color: #6f737e;
    font-weight: initial;
}

.image {
    background: white;
    border: 3.5px solid #3882F6;
    border-radius: 15px;
    height: 150px;
    width: 125px;
}

.above-content p {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QUOTE */
.quote {
    background: #E5E7EB;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
}

.quote p {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
}

.quote #thor {
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 18px;
}

/* BELOW CONTENT*/
.below-content {
    background: white;
    padding: 75px 125px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.below-content .bc-container {
    background: #3882F6;
    padding: 25px 50px;
    color: #F9FAF8;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l {
    margin-right: 50px;
    padding-left: 50px;
    font-weight: bolder;
    font-size: 16px;
}   
.l #exclude {
    font-weight: initial;
}

.r {
    padding: 0px 50px;
}

.r button {
    width: max-content;
    border-radius: 5px;
    border-style: none;
    border: 2px white solid;
    color: white;
    font-size: 16px;
    padding: 5px 30px;
    background-color: #3882F6;
}

/* */
footer {
    background: lightgray;
    flex: auto;
}