* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-section {
    background: lightblue;
    flex: auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}
li {
    float: left;
}
a {
    text-decoration: none;
}

.above-content {
    background: lightcoral;
    flex: auto;
}

.quote {
    background: lightcyan;
    flex: auto;
}

.below-content {
    background: lightgoldenrodyellow;
    flex: auto;
}

footer {
    background: lightgray;
    flex: auto;
}